@font-face {
    font-family: 'Montserrat-Regular';
    src:url(../fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Oxygen-Regular';
    src:url(../fonts/Oxygen-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src:url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

html,body{
	background:#fff;
	font-size: 100%;
	font-family: 'Oxygen-Regular';
}

body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

 ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li
{
	list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Montserrat-Regular';
}

img
	{
		padding-top: 5px;
		float: left;
	}
	
.too
	{
		background-color: transparent;
	}
		
.topbar
	{
		font-size: 2px;
		background-color: #3f4e54;
	}

/*#topbar ul li
	{
		display: inline-block;
		margin-right:10px;
		padding-right:12px;
		border-right:1px solid;
	}*/
	
.top_search
	{
		width: 40%;
		margin: 2em 12em 0em 21em;
	}
	
.top_search input[type="text"]
	{
		outline: none;
		padding: 10px;
		color: #212121;
		font-size: 16px;
		font-weight: unset;
		width: 70%;
		border: 1px solid #999;
		border-radius: 13px;
	}

button
	{
		background-color: transparent;
		font-size:20px;
		margin-left: 1px;
		padding-top: 4px;
		border: 1px none;
		border-radius: 4px;
	}
	
button:hover
	{
		font-size: 23px;
	}
	
.too1
	{
		background-color: #ffff;
		margin: 2em 0em 0em -0.6em;
		padding: 23px 0em 69px 0px;
		text-align: center;
	}

.alin
	{
		background: transparent;
		font-family: Sans-Serif;
		color: black;
		padding: 15px 2px;
		right: 0;
		left: 0;
		letter-spacing: 5px;
		text-decoration: none;
		display: inline-block;
	}

.alin:hover
	{
		transition: 0.5s;
		text-decoration: none;
		color: #668aff;
		transition: 0.2s;
	}	

nav
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

#img			/* Link in logo image */
	{
		background-color: transparent;
		margin: -1em 0em -7em 1.2em;
	}

.linkwall
	{
		margin: 0em 1em 0em 52em;
		padding: auto;
		background-color: #000000;
	}
	
.linkwall ul li
	{
		color: #12294f;
		font-size: 20px;
		float:right;
		padding: 1px 32px 0px 3px;
		border: none;
		display: inline-block;
		
	}
	
.fl_right ul li
	{
		color: #12294f;
		font-size: 19px;
		margin: 0em 2em 0em 1em;
		padding: 0em 2em 0em 1em;
	}

#login
	{

		padding: 3em 2em 2em 2em;
		margin: 0em -0.5em 1em -0.5em;
		background: #ffff;
	}

.log
	{
		padding: 0em 11em 1em 12em;
		margin: -3em 12em 5em -1em;
		font-size: 1em;
		text-align: center
	}

.log2 
	{

		margin: 1em 5em 1em 9em;
		padding: 2em 5em 5em 3em;		
		background: #dee6e8;
		height: 17em;
		width: 27em;
		border-radius: 5px;
	}

.log-input input[type="email"],.log-input input[type="password"],.log-input input[type="digit"] 
	{
		font-size: 1.1em;
		margin: 1em 1em 1em 2em;
		padding: 1em 1em 1em 2em;
		width: 100%;
		color: #ffff;
		outline: none;
		border: 1px solid #D3D3D3;
		border-radius: 20px;
		margin: 0em 0em 1.5em 0em;
		border-style: solid;
	}

.log-input-left 
	{
		float: center;
		width: 100%;
	}
	
.log-input-left1			/* Remember Me */
	{
		float: left;
		font-size: 1.2em;
		padding: 1em 1em 0em 0.9em;
	}

.log-input-left2		/* Forgot Password */
	{
		float: right;
		margin: 1em -3em 0em 0em;
		font-size: 1.2em;
		padding: 0em -2em 0em -1em;
	}

.log-input-left2:hover
	{
		background-color: #5a78a8;
		transition: 1s;
		color: black;
		border: 1px solid transparent;
		border-radius: 8px;
	}
.log-input input.user 
	{
		background: url("wew.png")no-repeat 6px 15px #c6c0c3;
	}
.log-input input.lock 
	{
		background: url("de.png")no-repeat 6px 14px #c6c0c3;
	}

.sub 						/* to keep gap between submit button and text fields */
	{
		padding-top: 14em;
	}

.forgot
	{
		margin: 2em 2em 3em 3em;
		padding: 2em 2em 3em 3em;
		background-color: #b8bdc4;
	}

.signup-box
{
	padding: 0;
	padding-right: 4em;
	margin: 0em -0.5em 0em -0.5em;
	padding-left: 2em;
	min-height: 700px;
	background: #ffff;
}

.signup-main h1
{
	font-weight: 700;
	font-size: 2em;
	padding: 0.3em 0;
}


.signup-main		/* Border around FORM */
{
	border: 1px solid #45c1bb;
	border-radius: 3em;
	padding: 0em 3em 5em 3em;
}

.wrap
{
	width: auto;
}

.register-top-grid div,.register-bottom-grid div{
	width: 48%;
	float: left;
	margin: 0.5em;
}


.register-top-grid h3,.register-bottom-grid h3
{
	color: #E45D5D;
	font-weight: 700;
	font-size: 1em;
	padding-bottom: 0.5em;
}
.register-top-grid span,.register-bottom-grid span
{
	color: #08080B;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.register-top-grid span label,.register-bottom-grid span label
{
	color: #E45D5D;
	height: 10px;
	width: 10px;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.2em;
}
.register-top-grid input[type="text"],.register-bottom-grid input[type="Password"],.register-top-grid input[type="digit"],.register-top-grid input[type="Email"]
{
	border: 1px solid #EEE;
	outline-color: #E45D5D;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}

.news-letter
{
	font-size: 0.875em;
	margin-bottom: 1em;
	text-transform: uppercase;
	clear: both;
}

.clear
{
	clear:both;
}

.checkbox 
{
	float: left;
	margin-left: 8px;
	position: relative;
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}

.checkbox input
{
	position: absolute;
	left: -999px;
}

.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 1em;
	height: 13px;
	border: 2px solid #DDD;
}

.checkbox input + i:after {
	content: '';
	background: url("mark.png") no-repeat 3px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
}
.checkbox input:checked + i:after {
	opacity: 1;
}


.register-grids form input[type="reset"]
{
	background: #E45D5D;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.3em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	border-right: none;
	border-left: none;
	border-top: none;
}

.register-grids input[type="reset"]:hover
{
	background: #1C1C20;
	border-bottom: 4px solid #333;
	transition: 1s;
}

.modal-header h4
{
	-webkit-animation:colorchange 10s infinite alternate;
}

@-webkit-keyframes colorchange {
      0% {
        
        color: #ef3326;
      }
      
      10% {  
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: #f26359;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: #42b6f4;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }
.content
{
	width: 100%;
  }

.login-box
{
	width: 100%;
}

.login-main{
	border-top: 1px solid transparent;
}

.login-right{
	float: right;
	width: 46%;
	margin-left: 1.9%;
	border: 1px solid #EEE;
	padding: 1em 1.5em;
}
.login-left{
	width: 100%;
	height: 400px;
}
.login-left a 
{
	margin: 1.6em 0em 0em 0em;
	float: right;
	color: #08080B;
	letter-spacing: 2px;
	font-size: 0.875em;
	text-transform: uppercase;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.login-left h3{
	color:#08080B;
	text-transform: capitalize;
	line-height: 1.8em;
}
.login-right h3,.login-left h3{
	color: #E45D5D;
	font-weight: 700;
	font-size: 1em;
	padding-bottom: 0.5em;
}
.login-right p,.login-left p{
	color: #08080B;
	display: block;
	font-size: 0.9em;
	margin: 0 0 1.5em 0;
	line-height: 1.8em;
}
.login-left p{
	margin:0;
}

.acount-btn{
	background: #E45D5D;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform:uppercase;
}
.acount-btn:hover{
	background: #1C1C20;
	border-bottom: 4px solid #333;
}
.login-left form{
	padding:1em 0; 
}
.login-left {
	color: #08080B;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}

.login-left span label{
	color: #E45D5D;
	height: 10px;
	width: 10px;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.2em;
}

.login-left input[type="Email"],.login-left input[type="Password"],.login-left input[type="text"]
{
	border: 1px solid #EEE;
	outline-color: #E45D5D;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}

.login-left a:hover{
	text-decoration: none;
	color:#E45D5D;
}
.login-left form div{
	padding: 0 0 0.5em 0;
}
.login-left input[type="submit"]{
	background: #E45D5D;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	margin-top: 1em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
}
.login-left input[type="submit"]:hover{
	background: #1C1C20;
	transition-duration: 1s;
	border-bottom: 4px solid #bc3131;
}

.bana
{
	background: url("image/landline.png");
}

.banner
{
	background:url(../image/banner7.jpg) no-repeat 0em 0em;
	background-size: cover;
	min-height: 40em;
	margin-top: -2em;
}

.banner-info
{
	margin-top:2em;
}

.banner-info h3
{
	font-family: 'Varela Round', sans-serif;
	color:#fff;
	padding-top: 2em;
	font-size: 2.5em;	
	text-align:center;
	line-height:1.5em;
	text-transform:uppercase;	
}

.buttons
{
    margin-top: 85px;
}

.buttons ul {
	text-align:center;
}
.buttons ul li{
	list-style-type:none;
	display:inline-block;
	margin-right:35px;
	
}
.buttons ul li a
{
    font-size: 18px;
    color: #fff;
    padding: 13px 28px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-font-smoothing: grayscale;
  position: relative;
  background:#182827;
  -webkit-transition-property: color;		/* <==== PROBLEM HERE (corner of navigation bar) */ 
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  float: left;
  color: #fff;
  padding: 0.6em 3em 0.7em 76.1px;
  font-size: 19px;
  	border: 2px solid white;

  text-decoration: none;
}
.hvr-shutter-in-vertical:before
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:#30C3B5; 
	border: 2px solid black;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
  	transition-timing-function: ease-out;
}

.hvr-shutter-in-vertical:hover
{
	text-decoration: none;
	color: #ffff;
}

.hvr-shutter-in-vertical:hover:before
{
	text-decoration: none;
	color: #0000;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}

							/*	------ CONTENT BOTTOM ------ 	*/

.btm-grid,.content-left,.content-right
{
	padding:70px 0;
}

.btm-grid h3
{
	color: #5cd1cf;
	font-size: 32px;
	text-transform: uppercase;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
}

.btm-grid p
{
	color: #30415b;
	font-size: 1.2em;
	text-align: center;
	margin-top: 50px;
	line-height: 2em;
	font-family: cursive;
	letter-spacing: 0.1em;
}

.btm-grid img,.top-grid img
{
	width: 35%;
	margin: 0em 8em 0em 8em;
}

.back-col1
{
    background: #fcce54;
    margin-top: -1em;
}

.back-col2
{
	background:#9398ec;	
	margin-top: -1em;	
}

.btm-wid
{
	padding-top: 5em;
}

.content-bottom-two
{
	position:relative;
}

.content-bottom
{
	margin-top: -5em;
}

.btm-pos
{
	position: absolute;
	top: 22%;
	right: 35%;
	width: 30%;
	background: rgba(0, 0, 0, 0.33);
	padding: 3% 3%;
}

.btm-pos h3
{
	color:#fff;
	font-size: 32px;
	font-family: 'Varela Round', sans-serif;
	text-align: center;	
}

.btm-pos p
{
	line-height: 2em;
	color: #fff;
	text-align: center;
	font-size: 16px;
	margin-top: 25px;
}

.footer-top
{
	padding: 80px 0;
}

.content-left
{
	background:#c2d468;
}

.content-right
{
	background:#48cfc1;
}

.content-left img,.content-right img
{
	width:23%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
	float: left;
	min-height: -4px;
	padding-right: 15px;
	padding-left: 15px;
}

.text-center
{
	text-align: center;
}

.clearfix
{
	clear: both;
}

.clearfix:before,.clearfix:after
{
	display: table;
	content: "";
}

/*--phone--*/
.phone-text h4
{	
	color:#fff;
	font-size:2em;	
}

.text-1 h5
{
	color: black;
  	font-size: 1.3em;
  	margin: 0.8em 0;
}

.text-1 p
{
  	color: #ffff;
  	font-size: 1em;
  	line-height: 2em;
  	width:70%;
}

.phone
{
	padding-bottom: 2em;
	background-color: #33dae0;
}

.phone img
{
  	margin: 0 auto;
}

/*.contain
{
	margin-top: -1.5em;
}*/

.containerr
{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.containerr-fluid
{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-md-4,.col-md-6
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 4em;
}

.agileinfo-dwld-app h6
{
    font-size: 20px;
    margin-top: 40px;
    letter-spacing: 2px;
}
.agileinfo-dwld-app h6 a i
{
    margin: 0 10px;
    color: #ffffff;
    font-size: 20px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-dwld-app h6 a i:hover
{
    color: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.mobile-app
{
    width: 50%;
    margin: 65px auto;
    margin-right: 0;
}

.mobile-app form input
{
    font-size: 16px;
    color: #000;
    width: 70%;
    border: none;
    padding: 16px;
    border-bottom: solid 1px #fefe;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 55%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.mobile-app form input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: rgba(0, 0, 0, 0.27);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    -webkit-appearance: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.mobile-app form input[type="submit"]:hover
{
    background: #000000;
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

.left-sidebar 
{
	background-color: #f2f2f2;
    width: 20%;
    float: left;
    padding-bottom: 16em;

}

.left-sidebarr
{
	background-color: #C0C0C0;
    width: 20%;
    float: left;
    padding-bottom: 16em;
    border-right: 1px solid #000;
}

section
{
	padding-top: 100px;
	padding-bottom: 19em;
	padding-right: 2em;
	padding-left: 2em;
}

section h1
{
	font-family: 'Oxygen-Regular';
	font-weight: 300;
    font-size: 2.5em;
    letter-spacing: 0.1em;

}

.line
{
	font-size: 0px;
	border-top: 1px solid #000;
}

.text-red
{
	color: #e40000;
}

.right-sidebar
{
	width: 80%;
	padding-left: 5em;
	float: right;
}

.right-sidebarr
{
	width: 80%;
	float: right;
}

.temp
{
	margin: auto;
	width: auto;
	height: auto;
}

.temp2
{
	padding-top: 2em;
	padding-left: 0em;
}
.temp2 img
{
	padding-top: 2em;
}
a.mob
{
	color: #0b1b35;
}

a.mob:hover
{
	color:#bc3131;
	text-decoration: none;
}

.temp3 
{
	padding-top: 2em;
	padding-left: 8em;
	color: #bc3131;
	font-family: 'Marat Sans Thin';
	font-size: 1.5em;
	font-weight: lighter;
	letter-spacing: 0.1em;
}

.temp form input.text
{ 
	font-size: 16px;
    color: #000;
    width: 50%;
    border: none;
    margin-top: 2em;
    padding: 16px;
    border-bottom: solid 1px #000;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.1s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}


label
{
	font-family: 'Marat';
	font-size: 1.5em;
	color:#bc3131;
}



/*--- Effects--*/
@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.1);}
	75%{transform: scale(1.3);}
	100%{transform: scale(1);}
}


/*Radio box*/

.label-text
{
	padding-right: 2em;
	color: black;
}

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #bc3131;
	animation: effect 250ms ease-in;
}


input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}


.form-check
{
	padding-top: 4em;
}

.pro-button
{
	background: #e89999;
	color: #152654;
	margin-top: 1em;
	padding: 0.2em 0.3em 0.2em 0.3em;
	font-size: 23px;
	font-weight: 0;
	letter-spacing: 0.1em;

}

.pro-button:hover
{
	background: #fff;
	border: 2px solid #bc3131; /* Green */
	text-transform: none;
	padding: auto;
	border-radius: 0.2em;
	animation: effect 150ms ease-in-out;
}

/* PAYMENT */

div#parentHorizontalTab
{
	
	margin-right: -2em;
	margin-left: -2em;
	width:80%!important;
}

ul.resp-tabs-list, p
{

    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
	letter-spacing: 0.1em;
	font-size: 15px;
	font-family: Verdana;
	font-weight: 300;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color:transparent;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}
.resp-tab-active {
	border: 1px solid #c1c1c1 !important;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
	border-top: 4px solid #bc3131 !important;
	border-bottom: 0px #fff solid !important;
}


.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
a.back{
	padding:10px;
	background:#3b85d5;
	color:white;
	display:inline-block;
	text-decoration:none;
	margin: 10px;
	
}
.tab1
{
	padding-top: 2em;
	padding-right: 4em;
	padding-bottom: 12.5em;
	padding-left: 4em;
}
.tab1 input[type="text"]{
	width: 40%;
	padding: 10px;
	margin: 15px 0px 0px 0px;
	background: transparent;
	border: 1px solid #111019;
	border-radius: 3px;
	font-family: Verdana;
}
select.month{
	width: 13%;
    margin: 10px 0px 0px 0px;
	padding:5px;
	background:transparent;
	border:1px solid #000;
	border-radius: 0.1em;

}
select.year {
	width: 18%;
    margin: 10px 5px 0px 4px;
	padding:5px;
	background:transparent;
	border:1px solid #000;
	border-radius: 0.1em;
}
.tab1 p{

	margin-top:20px;
	font-size:14px;
	text-transform:uppercase;
}

.tab1 form input.password
{
	font-size: 16px;
    color: #000;
    width: 50%;
    border: none;
    margin-top: 2em;
    padding: 16px;
    border-bottom: solid 1px #fff905;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.1s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.tab1 input.cvv {
	width: 10%;
    margin-right: 2em;
    padding: 5px;
}

input.go-to-pay
{
    text-align: center;
    color: #fff;
    padding: 7px 10px;
    background: #102d77;
    display: inline-block;
    font-size: 0.875em;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #000;
    border-bottom: 3px solid #B93838;
    border-right: none;
    border-left: none;
    border-top: none;
    outline: none;
    display: inline-block;
    margin: 15px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
	cursor: pointer;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

input.go-to-pay:hover
{
	background: #1C1C20;
	transition-duration: 1s;
	border-bottom: 4px solid #bc3131;
}


img.pp-img {
    width: 15%;
}

.tab2
{
	padding: 2em 3em 2em 3em;
}

.tab2 h3{
	margin:0;
	padding:15px 0px 10px 0px;
	color:#000;
	font-size: 15px;
}

select.bank
{
    margin: 10px 0px 0px 0px;
	padding: 10px 10px;
	background: transparent;
	border: 1px solid #000;
	width: 40%;
}

.tab2 form input[type="email"]
{
	width: 40%;
	margin: 2px 0px;
	padding: 10px;
	background: transparent;
	border: 1px solid #000;
}

.tab2 form input[type="password"]
{
	width: 40%;
	padding: 5px;
	background: transparent;
	border: 1px solid #000;
}

.tab2 form input[type="submit"],.tab3 form input[type="submit"]
{
    background: #102d77;
    color: white;
    border: 1px solid #000;
	padding: 5px 30px;
    margin: 25px 0px 0px 0px;
	cursor:pointer;
	border-bottom: 3px solid #B93838;
	border-top: none;
	border-left: none;
	border-right: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.tab2 form input[type="submit"]:hover,.tab3 form input[type="submit"]:hover
{
	background: #1C1C20;
	transition-duration: 1s;
	border-bottom: 4px solid #bc3131;
}

.tab3
{
	padding: 2em 3em 2em 3em;
}

.tab3 h3{
	font-size:15px;
	padding:0;
	color:white;
}
.tab3 h4{
	color:#000;
	padding:0px;
	font-weight:400;
	margin:20px 0px 10px 0px;
	font-size:14px;
}


.tab3 input[type="email"]
{
	width:30%;
	padding:10px;
	background:transparent;
	border:1px solid #000;
	border-radius: 0.1em;
}

.tab3 input[type="password"]
{
	width:30%;
	padding:10px;
	background:transparent;
	border:1px solid #000;
	border-radius: 0.1em;
}


/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;/* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }
	a.payback
	{
 	padding: 10px;
    background: #3b85d5;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}
    h2.resp-accordion
    {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
/*--/payment--*/


.single-check input[type="checkbox"]
{
  display: none;
  width: 100%;
}

.single-check input[type="checkbox"]+label
{
    position: relative;
    padding-left: 31px;
    border: none;
    outline: none;
    font-family: Verdana;
    font-size: 15px;
    color: #bc3131;
	font-weight: 500;
	line-height: 1.8em;
}

.single-check input[type="checkbox"]+label span:first-child
{
	width: 14px;
    height: 14px;
    display: inline-block;
    border: 2px solid #48cfc1;
    position: absolute;
    left: 0;
    top: 5px;
}

.single-check input[type="checkbox"]:checked+label span:first-child:before
{
	content: "";
	background:url(../image/mark1.png)no-repeat;
	position: absolute;
	left: -1px;
	top: 0px;
	font-size: 10px;
	width: 16px;
	height: 16px;
}














/*--footer--*/
footer
{
	background:#0b1213;
}

.footer-top
{
  	padding: 50px 0;
}

.footer-head h4
{
	font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid #343535;
    margin: 0 0 25px 0px;
    display: inline;
}

ul.nav-bottom
{
    margin-top: 40px;
}

ul.nav-bottom li
{
	list-style: none;
    color: #bdbdbd;
    font-size: 13px;
    margin: 11px 0 0 0;
    letter-spacing: 0.3px;
}

ul.nav-bottom li  a
{
	text-decoration:none;
	color: #bdbdbd;
	display: inline-block;
}

ul.nav-bottom li  a:hover
{
	color:#1feae0;
}

.rights  p
{
	color: #fff;
    font-size: 13px;
    margin-top: 7px;
    letter-spacing: 1px;
}

.footer-bottom
{
	padding: 1.5em 0;
  	background:#192223;
}

.rights
{
  text-align: right;
}
/*--//footer--*/


























